#about{
  background: transparent;

  margin-top: 9rem;
  margin-bottom: 9rem;
  padding-top: 6rem;

  p {
    @extend %typecsset-vertical-rhythm;
    @include typecsset-font-size($typecsset-h4-size);
    font-weight: 400;
    line-height: 1.5;

    //&::first-letter {
    //  float: left;
    //  padding-right: 1rem;
    //  @include typecsset-font-size($dropcap-font-size);
    //  font-weight: 500;
    //}
  }
}
