.monospaced {
  font-family: 'Monofur';
}

.space {
  height: 1.5rem;
  &.three {
    height: 3rem;
  }
}

.full-size {
  width: 100vw;
  height: 100vh;
}

.mask {
  overflow: hidden;
}

.invisible {
  visibility: hidden;
  display: none;
}

.no-padding {
  padding: 0 !important;
}

.no-frills {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

.aligned {
  &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
  }
}

.margin {
  &.left {
    margin-left: 1.5rem;
  }
  &.right {
    margin-right: 1.5rem;
  }
}

ul {
  list-style: none;
}

.dummy.column {
  padding: 0;
  margin: 0;
}

.content {
  padding: 0 1rem;
}

.raised {
  box-shadow: 0px 0px 0px 1px #D4D4D5, 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
}



