.monospaced {
  font-family: 'Monofur';
}

.header {
  @extend h1;
  &.sub {
    @extend h3;
  }
}

.space {
  height: 1.5rem;
  &.three {
    height: 3rem;
  }
}

.up.three {
  margin-top: -3rem !important;
}

.aligned {

  &.vertically{
    display: flex;
    align-items: center;
    height: 100%;

    .content {
      flex: 1 0 auto;
    }
  }
}

.full-size {
  width: 100vw;
  height: 100vh;
}

.mask {
  overflow: hidden;
}

.menu-offset {
  padding-top: 6rem;
}

.invisible {
  visibility: hidden;
  display: none;
}

.no-padding {
  padding: 0 !important;
}

.aligned {
  &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
  }
}

.no.margin {
  margin: 0 !important;
}

.small.text {
  @include typecsset-font-size(14px);
}

.tiny.text {
  @include typecsset-font-size(12px);
}

.large.text {
  @extend %typecsset-vertical-rhythm;
  @include typecsset-font-size($typecsset-h4-size);
}

.enormous.text {
  @extend %typecsset-vertical-rhythm;
  @include typecsset-font-size($typecsset-enormous-size);
}

.humongous.text {
  @extend %typecsset-vertical-rhythm;
  @include typecsset-font-size($typecsset-humongous-size);
}

.no-frills {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

ul {
  list-style: none;
}

.dummy.column {
  padding: 0;
  margin: 0;
}

.content {
  padding: 0 1rem;
}




