.bloom.segment {
  //border: solid 1px $red !important;

}

#baseline {
  position: absolute;
  width: 100vw;
  height: 100%;

  background-image:
          linear-gradient(0deg, transparent .05rem, rgba(0,0,0,.05) .05rem, rgba(0,0,0,.05) .125rem, transparent .125rem);
  background-size: 1.5rem 1.5rem;
  //background-position: 0 -0.5rem;

}
