
$font-path: '/assets/fonts';

@import "./fonts/source-sans";
@import "./fonts/signika";

//  _
// (_)__ ___ _ _  ___
// | / _/ _ \ ' \(_-<
// |_\__\___/_||_/__/
@font-face {
  font-family: 'FontAwesome';
  src:  url('#{$font-path}/fontawesome/fontawesome-webfont.eot');
  src:  url('#{$font-path}/fontawesome/fontawesome-webfont.eot') format('embedded-opentype'),
        url('#{$font-path}/fontawesome/fontawesome-webfont.woff2') format('woff2'),
        url('#{$font-path}/fontawesome/fontawesome-webfont.woff') format('woff'),
        url('#{$font-path}/fontawesome/fontawesome-webfont.ttf') format('truetype'),
        url('#{$font-path}/fontawesome/fontawesome-webfont.svg') format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

//                                             _
//  _ __  ___ _ _  ___ ____ __  __ _ __ ___ __| |
// | '  \/ _ \ ' \/ _ (_-< '_ \/ _` / _/ -_) _` |
// |_|_|_\___/_||_\___/__/ .__/\__,_\__\___\__,_|
//                       |_|
@font-face {
  font-family: 'Monofur';
  src: url('../fonts/monofur/monofur.ttf') format('truetype');
}

