footer {

  position: relative;
  padding-top: 4.5rem !important;


  .item {
    a { 
      @extend h2;
      // @include textschatten($size: 4, $color: #ffffff);
      font-family: 'Signika';
      // font-weight: 200; 
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      // color: $black;
      @extend .colored-text;
      // @extend .raised-text;
      @include dropcap-outline($size: 2, $color: $black, $correction: 0);

      i.icon {
        @extend h3;
        font-family: 'FontAwesome' !important;
      }
    }

    margin-bottom: 2rem !important;
    
    &.address {
      .city {
        margin-left: 2.5rem;
      }
    }

    margin-left: 12% !important;

    @include mobile {
      margin-left: 0 !important;
    }
  }

  & > .ui.container {
    margin-bottom: 4.5rem;
  }

  #imprint {
    position: absolute;
    bottom: 1.5rem;
    color: rgba($black, 0.81);
    font-size: 81%;
  }
}