#masthead {
  @extend .screen;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items:flex-end;

  @include mobile {
    align-items:center;    

    .ui.container {
      margin-bottom: 4.5rem;
    }
  }

  @include tablet {
    align-items:center;    
    .ui.container {
      margin-bottom: 4.5rem;
    }
  }

  a#main-headline {
     @extend h1;
  // display: none;

    // &:hover {
    //  @extend .colored-text;
    // }
    
    &.sticky {
      @include textschatten($size: 4, $color: #ffffff);
      z-index: 400;
    }
  }

  #tagline {
    margin-bottom: 4.5rem;
  }
}