#masthead {
  min-height: 100vh;
  color: $darkGrey;
  // background: $darkGrey;
  background: transparent;

  #main-hex {
    height: 9rem;
    margin-bottom: 1.5rem;
    margin-left: 3rem;
  }

  .ui.sub.header {
    @include mobile {
      font-size: $typecsset-base-font-size;
      font-weight: 200;
    }
  }

  .ui.container {
    margin-top: 50vh;
    //margin-left: 24vw !important;
  }
}
