@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

//————————————————————————————————
// media queries 
//————————————————————————————————
@mixin mobile {
  @media only screen and (min-width: #{$mobile-breakpoint}) and (max-width: #{$tablet-breakpoint - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$tablet-breakpoint}) and (max-width: #{$computer-breakpoint - 1px}) {
    @content;
  }
}

@mixin computer {
  @media only screen and (min-width: #{$computer-breakpoint}) and (max-width: #{$large-screen-breakpoint - 1px}) {
    @content;
  }
}

@mixin large-screen {
  @media only screen and (min-width: #{$large-screen-breakpoint}) and (max-width: #{$widescreen-breakpoint - 1px}) {
    @content;
  }
}

@mixin widescreen {
  @media only screen and (min-width: #{$widescreen-breakpoint}) {
    @content;
  }
}

@function schatten($size: 4, $color: #cccccc) {
  $stroke: ();
  @for $i from 0 through $size {
    $x: $i;
    $y: $i;
    $stroke: append($stroke, $x*1px $y*1px $color, comma);
  }
  @return $stroke;
}

@mixin textschatten($size: 2, $color: #FFDB69) {
  text-shadow: schatten($size, $color);
}

@mixin schlagschatten($size: 2, $color: #FFDB69) {
  box-shadow: schatten($size, $color);
}


@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}
