@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

//————————————————————————————————
// media queries 
//————————————————————————————————
@mixin mobile {
  @media only screen and (min-width: #{$mobile-breakpoint}) and (max-width: #{$tablet-breakpoint - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$tablet-breakpoint}) and (max-width: #{$computer-breakpoint - 1px}) {
    @content;
  }
}

@mixin computer {
  @media only screen and (min-width: #{$computer-breakpoint}) and (max-width: #{$large-screen-breakpoint - 1px}) {
    @content;
  }
}

@mixin large-screen {
  @media only screen and (min-width: #{$large-screen-breakpoint}) and (max-width: #{$widescreen-breakpoint - 1px}) {
    @content;
  }
}

@mixin widescreen {
  @media only screen and (min-width: #{$widescreen-breakpoint}) {
    @content;
  }
}
