//  _
// (_)__ ___ _ _
// | / _/ _ \ ' \
// |_\__\___/_||_|
i.fa,
i.icon {
  font-family: 'FontAwesome';
  display: inline-block;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  opacity: 1;
  margin: 0em 0.25rem 0em 0em;
  width: 1.18em;
  height: 1em;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.ui.container {
  @include mobile {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.ui.button {
  background: $black;
  color: $white;
}

//  _ _
// (_) |_ ___ _ __  ___
// | |  _/ -_) '  \(_-<
// |_|\__\___|_|_|_/__/
.ui.items {

  @include mobile {
    padding-right: 3rem;
  }

  & > .item > .content {
    & > .header, & > .description {
      color: inherit;
    }
  }
}

//                             _
//  ___ ___ __ _ _ __  ___ _ _| |_
// (_-</ -_) _` | '  \/ -_) ' \  _|
// /__/\___\__, |_|_|_\___|_||_\__|
//         |___/
.ui.segment {
  @extend .no-frills;
  background: transparent;
  margin: 1.5rem 0;
  padding: 1.5rem 1rem;
  border-radius: 0.28571429rem;

}

//                 _
//  __ __ _ _ _ __| |
// / _/ _` | '_/ _` |
// \__\__,_|_| \__,_|
.ui.cards > .card, .ui.card {
  background: transparent;
}

//     _    _     _
//  __(_)__| |___| |__  __ _ _ _
// (_-< / _` / -_) '_ \/ _` | '_|
// /__/_\__,_\___|_.__/\__,_|_|
.ui.sidebar {
  border: 1px solid $white;
  background: $white;

  &.uncover {
    z-index: 100;
  }
}

//  _ __  ___ _ _ _  _
// | '  \/ -_) ' \ || |
// |_|_|_\___|_||_\_,_|
.ui.vertical.menu {
  .item:last-child {
    &:before {
      background: transparent;
    }
  }
}

//  _
// | |_  _ _
// | ' \| '_|
// |_||_|_|

hr {
  @extend .no-frills;
  border-bottom: 1px solid rgba($black, 0.64) !important;
}


//           _    _
//  __ _ _ _(_)__| |
// / _` | '_| / _` |
// \__, |_| |_\__,_|
// |___/

.ui.stackable.grid {
  & > .row {
    & > .wide.column {
      @include mobile {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  }
}
