#pattern {
  @include user-select(none);
  background: $backgroundColor;

  svg {
    width: 100%;
    height: 100%;
    // border: solid 2px $red;

    rect.debug {
      fill: none;
      stroke: $orange;
      stroke-width: 2 }
    // @include transform(scale(0.8));
    // @include transform-origin(center center);

    .links {
      stroke: $grey-medium;
      stroke-opacity: 0.2;
    }
    
    .cell {
      // pointer-events: none !important;
      stroke-width: 0;
      stroke: $cellColor;
      fill: $white;
      cursor: auto;
      @for $i from 1 through length($sections) {
        &[content="#{nth($sections, $i)}"] {
            fill: nth($sectionColors, $i);
            stroke: none;
        }
      }  
      // &.border { 
      //   &.top   { fill:  rgba($red, 0.4) }
      //   &.right { fill:  rgba($yellow, 0.4) }
      //   &.bottom{ fill:  rgba($blue, 0.4) }
      //   &.left  { fill:  rgba($green, 0.4) }
      // }
      // &.inner   { fill: rgba($mediumGrey, 0.4) }
    }

    &.focused {
        cursor: pointer;  
    }


    .vertices {
      fill: $red;
      stroke: none;
    }
    
    .content {
      text {
        // pointer-events: none !important ;
        stroke: none;
        fill: $darkGrey;
        &.head {
          font-size: 5rem;
          font-family: 'Signika';
          font-weight: 400;
          
          &#head-index{
            font-weight: 500;
          }
        }
      }

      circle.perimiter {
        fill: $red;
        opacity: 0.4;
      }
    }

    .simulation {
      .node {
        r: 4;
        &.site  { fill: $orange}
        &.mouse { 
          fill: $blue; 
          opacity: 0
        }  
      }

      .intersection {
        r: 8;
        stroke: $red;
        fill: none;
      }

      .line {
        stroke: $darkGrey;
        opacity: 0.81;
        stroke-width: 1;
      }
    }

    #bg-gradient{
      .s0 { stop-color: $red }
      .s100 { stop-color: $darkGrey }  
    }
  }
}

body.about {
  #pattern {
    .cell{
      fill: none;
      &.content {
        fill: $aboutColor;
      }
    }
  }
}

body.focus {
  #pattern {
    background: $white;
    .cell{
      fill: none;
      &.content {
        fill: $focusColor;
      }
    }
  }
}

//   .link{
//     &:hover {
//       cursor: pointer; 
//     }

//     .indicator {
//       &.index {
//         fill: $indexColor;
//       }
//       &.about{
//         fill: $aboutColor;
//       }
//       &.team{
//         fill: $teamColor;
//       }
//     }
//   }
// }
