#projects {
  @extend .screen;
  // background: rgba($blue, 0.4);

  .ui.container {
    height: 100%;
  }

  .imagez.grid {
    margin-top: 3rem;
  }

  .project {

    .head {
      display: flex;
      width: 100%;
      flex: 0 1 auto;
      margin-bottom: 1rem;

      .title {
        font-size: 2rem;
        flex: 1 1 auto;
      }
    }

    .description {
      // font-size: 1rem;
    }
  }
}

.project.detail {
  // margin-top: 6rem;

  .article {
    @include mobile {
      padding-top: 6rem;
      padding-bottom: 4.5rem;
    }
  }

  .ui.stackable.grid {
    & > .gallery.column:not(.row){
      @include mobile {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }

  .carousel {
    margin-bottom: 3rem;
    z-index: 3;
  }

 

  // .column.gallery {}
  // .column.text {
  //   display: flex;
  //   flex-direction: column;
  //   // justify-content: center;

  //   @include tablet {
  //     padding-right: 1.5rem;
  //     margin-top: 3rem !important;
  //   }

  //   @include computer {
  //     padding-right: 3rem;
  //   }

  //   @include large-screen {
  //     padding-right: 6rem;
  //   }
  //   @include widescreen {
  //     padding-right: 6rem;
  //   }
  // }
}