#projects {
  @extend .screen;
  // background: rgba($blue, 0.4);

  .imagez.grid {
    margin-top: 3rem;
  }

  .project {
    pointer-events:none;

    .expand {
      pointer-events: all;
    }

    & > .expander > .content {
     pointer-events: all; 
    }
  }

}