#projects {
  @extend .screen;
  // background: rgba($blue, 0.4);

  .ui.container {
    height: 100%;
  }

  .imagez.grid {
    margin-top: 3rem;
  }

  .project {
    pointer-events:none;

    .expand {
      pointer-events: all;
    }

    
              // %i

    & > .overlay > .content {
      & > p {
        font-size: 2rem;
      }
      & > i.indicator {
        @extend .ui;
        @extend .icon;
        @extend .big;
        @extend .angle.down;
        color: rgba($black, 0.81);

        flex: 0 1 auto;
        // transform: scaleY(0.5);
      }
    }



    & > .expander > .content {
      pointer-events: all; 
// margin: 0em 0em 0.5em;
      
      p {
        &:first-child {
          margin: 0 !important;
        }
      }

      a {
          position: relative;
          color: $white;
          padding: 0.25rem 0.25rem;
      
          transition: all 0.1s ease;
      
          &::after {
            @extend .colored-background;
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            bottom: 6px;
            width: 100%;
            height: 1px;
            transition: all 0.1s ease;
          }
      
          &:hover {
            &::after {
              bottom: 0;
              width: 100%;
              height: 100%;
            }
          }
        }
    }
  }
}

.project.detail {
  margin-top: 6rem;
}