#sidebar {
  display: flex;
  align-items: center;
  flex-direction: row;
  @extend .colored-background;

  a {
    @extend h2;
    @extend .colored-text;
    @include dropcap-outline($size: 2, $color: $black, $correction: 0);
  }
}