#team {
  @extend .screen;
  // background: rgba($yellow, 0.4);
  .member {

    padding-bottom: 3rem;

    .title {
      font-size: 2rem;
      flex: 0 1 auto;
    }

    .email {
      flex: 0 1 auto;
      a {
        font-size: 1rem;
        color: $black;
      }
    }

    .description {
      font-size: 1rem;
    }

    & > .image {
      @extend .raised;
      pointer-events: none;
    
      @include mobile {
        width: 240px;    
      }

      @include tablet {
        width: 340px;    
      }
    }
  }

}