
.kukuri {
  outline: none;
  text-decoration: none;
  position: relative;
  line-height: 1;
  color: $black;
  display: inline-block;
  font-weight: 700;
  overflow: hidden;
}

.kukuri::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
  width: 0%;
  transition: width 0.6s;
  @extend .colored-text;
  background: $black;
}

.kukuri:hover::before {
  width: 100%;
}