#bloom {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;

  .hex {
    mix-blend-mode: multiply;
  }

  circle {
    fill:none;
    stroke: $black;
  }
}     


.flow-field {
  g.cell {
    & > rect {
      stroke: $red;
      fill: none;  
    }

    & > line {
      stroke: $red;
      fill: none;  
    }
  } 
}