.fancy.header {
  svg {
    width: 100%;
    text {
      //font-size: $typecsset-enormous-size;
      font-size: $typecsset-humongous-size;
      fill: $black;
    }
  }
}


#bloom {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  background: $white;
  svg {
    //background: $white;
    //background: $darkGrey;
    .hex {
      //mix-blend-mode: lighten;
      //mix-blend-mode: color-dodge;
      //mix-blend-mode: screen;
      mix-blend-mode: multiply;
      //mix-blend-mode: darken;
    }

    circle {
      fill: none;
      stroke: $pink;
    }

    #hex-origin {
      fill: none;
    }
  }
}

.ui.bloom.segment {
  margin-top: 0;
  margin-bottom: 0;
}

.splat {
  svg {
    width: 256px;
    height: 256px;
    border: 1px solid $pink;
  }
}

.dummy.bloom.segment {
  padding: 0 !important;
  margin: 0 !important;
}
