
// projects
//————————————————————————————————
#what {
  $whatColor: $purple;
  //min-height: 100vh;
  background: transparent;
  color: $black;
  #projects {
    margin-top: 3rem;

    .project {
      margin-top: 3rem;
      margin-bottom: 9rem;
      @include mobile { margin-bottom: 6rem;}
      @include tablet { margin-bottom: 9rem;}
      @include computer { margin-bottom: 10.5rem;}
      @include large-screen { margin-bottom: 12rem;}
      @include widescreen { margin-bottom: 13.5rem;}

      .header {
        @extend h1;
        @include computer     { font-size: $typecsset-enormous-size; }
        @include large-screen { font-size: $typecsset-enormous-size; }
        @include widescreen   { font-size: $typecsset-humongous-size; }
        margin-bottom: 0;
      }

      .description {
        padding-bottom: 0rem;
        margin-bottom: 0rem;
        max-width: 480px;
      }

      svg {
        width: 100%;
        text.head {
          font-size: $typecsset-enormous-size;
        }
      }
    }

    .image.column {
      height: 0;
      img {
        @include mobile { width: 38%;}
        @include tablet { width: 62%;}
        width: 62%;
      }
      text-align: center;
      @include mobile {
        text-align: right;
      }
    }

    .header {
      @extend h1;
      &.sub {
        @extend h3;
      }
    }
    .description {
      @extend p
    }
  }
}
