#team{
  min-height: 100vh;
  background: transparent;

  .ui.fluid.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100vw !important;
  }

  .member {
    svg {
      width: 100%;
      margin-bottom: 3rem;
      text.name {
        font-weight: 200;
      }

      &#annunziata{
        circle {
          fill: $red;
        }
      }

      &#laura{
        circle {
          fill: $blue;
        }
      }

      &#emanuel{
        circle {
          fill: $purple;
        }
      }

      &#lowi{
        circle {
          fill: $green;
        }
      }
    }
  }

  #taskforce {
    .content {
      margin-top: 1.5rem;
    }
    .member {
      .header {
        @extend h6;
        margin-bottom: 0;
      }
      .role{
        @extend p;
      }

    }

  }
}



#partners {
  background: transparent;

  .section.header {
    @extend h4;
    font-weight: 400;
  }

  .ui.grid { margin: 0}

  .column { padding-top: 0}
  .partner, .supporter {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
    a {
      margin-left: auto;
      margin-right: auto;
      img {
        max-width: 100%;
        max-height: 4.5rem;
      }
    }
  }
}
#supporters {
  //border-top: 1px solid rgba($black, 0.62);
}

