@charset "utf-8";

@import "./variables";
@import "./lib/semantic-ui";

@import "./lib/functions";
@import "./lib/mixins";
@import "./lib/fonts";
@import "./lib/text-stroke";
// @import "./lib/typecsset";
// @import "./lib/tufte";
@import "./lib/modernscale";
@import "./lib/typography";

@import "overrides";
@import "custom";
@import "menu";
@import "masthead";
@import "image-grid";
@import "team";
@import "projects";
@import "sidebar";
@import "viz";
@import "footer";

// @import "./lib/overrides";
// @import "custom";
// @import "menu";

body {
  background: $white;
  &.pushable {
    background: transparent !important;
    & > .pusher {
      background: transparent;
    }
  }
}

// ————————————————————————————————
// debug
// ————————————————————————————————
// .baseline {
  // background-color: transparent;
  // background-image: url('#{$image-path}/baseline.png') !important;
  // background-repeat: repeat;
// }
// 
// html {
  // height: 100%;
  // background: $white;
  // -webkit-tap-highlight-color: rgba($white, 0);
// }
// 
// body {
  // font-family: $font-family;
  // color: $black;
  // &.pushable {
    // background: $white !important;
    // & > .pusher {
      // background: transparent;
    // }
  // }
// }
// 
// #footer {
  // height: 100vh;
  // display: flex;
  // flex-direction: row;
  // align-items: flex-end;
// 
  // & > .ui.segment {
    // flex: 1 0 auto;
    // padding-bottom: 6rem;
  // }
// }
// 
// a {
  // color: $white;
// 
  // &:hover {
    // color: $white;
    // text-decoration: none;
  // }
// }
// 