@charset "utf-8";

@import "bourbon/app/assets/stylesheets/bourbon";

@import "functions";
@import "variables";
@import "mixins";
@import "fonts";

@import "semantic-ui";
@import "typecsset";
@import "text-stroke";
@import "leaflet";

//@import "slick";
//@import "slick-theme";

// @import "menu";
// @import "areas-of-focus";
// @import "news";
// @import "projects";

@import "overrides";
@import "tufte";
@import "custom";
@import "menu";
@import "masthead";
@import "about";
@import "how";
@import "what";
@import "who";
@import "footer";
@import "viz";
@import "debug";

//————————————————————————————————
// debug
//————————————————————————————————
.baseline {
  background-color: transparent;
  background-image: url('#{$image-path}/baseline.png') !important;
  background-repeat: repeat;
}


body {
  font-family: $font-family;
  color: $darkGrey;
  background: $white;

  &.pushable > .pusher {
    background: transparent;
  }
}

a {
  color: $darkGrey;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  font-family: $font-family;
  font-weight: 400;
}

.section.header {
  @extend h2;

  &.sub {
    @extend h5;
    font-weight: 300;
  }
}
