= wrap_layout :layout do
  .ui.container
    %h1#main-headline BeeTwo
  .project.detail
    .ui.text.container
      %article
        -# = image_tag current_page.data.thumbnail, {:class => "ui image"}
        %h1= current_page.data.title
        = yield