= wrap_layout :layout do
  .ui.container
    %a#main-headline{:href => "/index.html"} BeeTwo
  .project.detail
    %article
      .ui.fluid.container
        .ui.stackable.grid
          .ten.wide.column.gallery
            .carousel
              - current_page.data.images.each do |i|
                = image_tag i, {:class => "ui image"}
          .six.wide.column.text
            = yield
        
        .title= current_page.data.title
