= wrap_layout :layout do
  
  .project.detail
    .article
      .ui.fluid.container
        %a#back-link{:href => "/index.html"} BeeTwo
        .title#headline= current_page.data.title

      .ui.container.gallery
        .carousel
          - project_images(current_page.data).each do |i|
            = image_tag i, {:class => "ui image"}

      .ui.text.container
        = yield

