= wrap_layout :layout do
  .ui.container
    %a#main-headline{:href => "/index.html"} BeeTwo
  .project.detail
    %article
      .ui.fluid.container
        = image_tag current_page.data.thumbnail, {:class => "ui image"}
      .ui.text.container
        %h1= current_page.data.title
        = yield