---
title: BeeTwo | about
---

/ .mask.full-size
/   #pattern.full-size
  

/ %ul#cells.invisible
/   - data.index.each do |c|
/     %li= "#{c}"

.ui.container.menu-offset
  %h1 about

  = partial("partials/imprint")