#footer.ui.container
  .ui.right.aligned.segment
    %h1 Anneke Jannsen
    .ui.items
      .item
        .content
          %i.ui.twitter.icon
          @die-janssen
      .item
        .content
          %i.ui.mail.icon
          hellö@die-janssen.de
      .item
        .content
          %i.ui.home.icon
          Irgendwo 3000
          %br
          4711 Utopia