#footer.ui.bloom.segment
  .ui.text.container
    .align
      %p.tiny.text
        = data.meta.associationTitle
        = data.meta.associationTagline
        %br
        ZVR: #{data.en.contact.ZVR}
      -# .tiny.text UID: #{data.en.contact.UID}

  -##map-frame
  -#  #map
