%svg#iconset{:viewbox => "0 0 48 48", :xmlns => "http://www.w3.org/2000/svg"}
  %g#close{:style => "display:none"}
    %path{:d => "M12.7,38.1c2.1-2.1,25.5-25.5,25.5-25.5l-2.8-2.8L9.9,35.3C9.9,35.3,11.3,36.7,12.7,38.1z M9.9,12.7c2.1,2.1,25.5,25.5,25.5,25.5l2.8-2.8L12.7,9.9C12.7,9.9,11.3,11.3,9.9,12.7z"}
  %g#burger
    %path{:d => "M6,34c3,0,36,0,36,0v-4H6C6,30,6,32,6,34z M6,18c3,0,36,0,36,0v-4H6C6,14,6,16,6,18z"}
