%svg#iconset{:viewbox => "0 0 48 48", :xmlns => "http://www.w3.org/2000/svg"}
  %g#close{:style => "display:none"}
    %path{:d => "M14.399999999999999 14L23.7 23.3L33 14L35.4 16.4L26.1 25.7L35.4 35L33 37.4L23.7 28.1L14.399999999999999 37.4L12 35L21.3 25.7L12 16.4L14.399999999999999 14z", :fill => "#333333"}
  %g#toc
    %path{:d => "M6,34 C9,34 42,34 42,34 L42,30 L6,30 C6,30 6,32 6,34 Z M6,26 C9,26 42,26 42,26 L42,22 L6,22 C6,22 6,24 6,26 Z M6,18 C9,18 42,18 42,18 L42,14 L6,14 C6,14 6,16 6,18 Z"}


