#masthead
  .ui.container
    %h1 BeeTwo
    %h2=t(:tagline) 
 
    .epigraph
      %blockquote.initial= get_text('introduction')

    -# - blog("texts").articles.each do |text|
    -#   %article
    -#     %h1= text.title
    -#     %p= text.render

