#masthead
  .ui.container
    %h1 BeeTwo
    %h2=t(:tagline) 
 
    .epigraph.hidden.mobile
      %blockquote.initial= get_text('introduction')

.ui.container.hidden.tablet
  .epigraph
    %blockquote.initial= get_text('introduction')
