#masthead
  .ui.container
    %h1#main-headline BeeTwo
    %h2=t(:tagline)
    .epigraph.hidden.mobile
      %blockquote.initial= get_text('introduction')

.ui.container.hidden.tablet
  .epigraph
    %blockquote.initial= get_text('introduction')

.ui.container
  .seperator