#masthead
  .ui.container
    %h1#main-headline BeeTwo
    %h2#tagline=t(:tagline)

  .ui.text.container
    .epigraph.hidden.mobile
      %blockquote.initial= get_text('introduction')

.ui.container.hidden.tablet
  .epigraph
    %blockquote.initial= get_text('introduction')

