#partners.ui.vertical.stripe.bloom.segment
  .ui.container
    .ui.segment
      .header= data.en.support.partners_head
  .ui.container
    .ui.doubling.centered.equal.height.eight.column.grid
      - data.en.support.partners.each do |p|
        .flex.column
          .partner.rellax{"data-rellax-speed" => rand(-0.25..0.25)}
            %a{:href => p.url}
              = image_tag p.logo, :class => "ui image", :relative => true

    .space
    %hr
    .three.space

  .ui.container
    .ui.segment
      .header= data.en.support.funders_head
  .ui.container
    .ui.centered.equal.height.three.column.grid
      - data.en.support.funders.each do |p|
        .flex.column
          .supporter.rellax{"data-rellax-speed" => rand(-0.25..0.25)}
            %a{:href => p.url}
              = image_tag p.logo, :class => "ui image", :relative => true
