#projects.ui.vertical.stripe.segment
  .ui.container
    %h2.headline=t(:projects_headline)

  .ui.text.container
    .epigraph
      %blockquote.initial= get_text('What we do and how we work')

  .ui.container
    .ui.three.column.doubling.stackable.grid
      - blog("projects").articles.shuffle.each_with_index do |p, i|
        .column.project
          .overlay.frame.raised
            .image
              = image_tag(p.data.thumbnail, {:class => "ui image"})
            .content.left
              .head
                .title= p.data.title
              .description= p.data.tagline
              .extra
                %a.ui.raised.circular.icon.button{:href => p.url}
                  %i.ui.chevron.right.icon
                


         