.ui.stackable.grid.project{:id => "#{project.id}"}
  .ui.row
    .twelve.wide.column
      .ui.segment
        .header.rellax{"data-rellax-speed" => -1}
          = project.title
   

  .ui.row
    .eight.wide.right.floated.column
      .ui.segment
        .description
          = partial "partials/texts/projects/#{project.id}"

    .five.wide.column
      - if project.href
        .three.space
        .extra.content.rellax{"data-rellax-speed" => -2}

          %a{:href => project.href, :target => "_blank"}
            go to there
            %i.ui.angle.right.icon


