#sidebar.ui.vertical.right.overlay.borderless.menu.sidebar
  .ui.segment
    .ui.items
      - data.menu.each do |m|
        %a.item{:href => menu_link(current_page.path, m.href)}= m.title
          
    

    



