#sidebar.ui.vertical.right.overlay.borderless.menu.sidebar
  .ui.segment
    .ui.items
      - data.menu.each do |m|
        .item
          %a{:href => menu_link(current_page.path, m.href), "data-letters" => m.title }
            = m.title
          
    

    



