%svg{:height => "0", :width => "0", :x => "0", :y => "0"}
  %defs
    %circle#two{:cx => "3", :cy => "3", :r => "0.5"}
    %circle#three{:cx => "3", :cy => "3", :r => "1"}
    %circle#four{:cx => "3", :cy => "3", :r => "1.5"}
    %circle#five{:cx => "3", :cy => "3", :r => "2"}
    %circle#six{:cx => "3", :cy => "3", :r => "2.5"}
    %circle#seven{:cx => "3", :cy => "3", :r => "3"}
    %circle#seven{:cx => "3", :cy => "3", :r => "3.5"}
    %circle#eight{:cx => "3", :cy => "3", :r => "4"}
    %filter#half-tone{"color-interpolation-filters" => "sRGB", :height => "100%", :width => "100%", :x => "0%", :y => "0%"}
      / Generate half-tone screens
      %feimage{:height => "3", :width => "3", "xlink:href" => "#two", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %fetile{:result => "2dot"}
      %feimage{:height => "3", :width => "3", "xlink:href" => "#three", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %fetile{:result => "3dot"}
      %feimage{:height => "3", :width => "3", "xlink:href" => "#four", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %fetile{:result => "4dot"}
      %feimage{:height => "3", :width => "3", "xlink:href" => "#five", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %fetile{:result => "5dot"}
      %feimage{:height => "3", :width => "3", "xlink:href" => "#six", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %fetile{:result => "6dot"}
      %feimage{:height => "3", :width => "3", "xlink:href" => "#seven", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %fetile{:result => "7dot"}
      %feimage{:height => "3", :width => "3", "xlink:href" => "#eight", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %fetile{:result => "8dot"}
      / Generate luminance map
      %fecolormatrix{:in => "SourceGraphic", :result => "neg-lum-map", :type => "luminanceToAlpha"}
      %fecomponenttransfer{:result => "lum-map"}
        %fefunca{:tablevalues => "1 0", :type => "table"}
      / Split luminance levels into separate images
      %fecomponenttransfer{:in => "lum-map", :result => "2r-thresh"}
        %fefunca{:tablevalues => "0 1 0 0 0 0 0 0", :type => "discrete"}
      %fecomponenttransfer{:in => "lum-map", :result => "3r-thresh"}
        %fefunca{:tablevalues => "0 0 1 0 0 0 0 0", :type => "discrete"}
      %fecomponenttransfer{:in => "lum-map", :result => "4r-thresh"}
        %fefunca{:tablevalues => "0 0 0 1 0 0 0 0", :type => "discrete"}
      %fecomponenttransfer{:in => "lum-map", :result => "5r-thresh"}
        %fefunca{:tablevalues => "0 0 0 0 1 0 0 0", :type => "discrete"}
      %fecomponenttransfer{:in => "lum-map", :result => "6r-thresh"}
        %fefunca{:tablevalues => "0 0 0 0 0 1 0 0", :type => "discrete"}
      %fecomponenttransfer{:in => "lum-map", :result => "7r-thresh"}
        %fefunca{:tablevalues => "0 0 0 0 0 0 1 0", :type => "discrete"}
      %fecomponenttransfer{:in => "lum-map", :result => "8r-thresh"}
        %fefunca{:tablevalues => "0 0 0 0 0 0 0 1", :type => "discrete"}
      / Composite screens with luminance levels
      %fecomposite{:in => "2r-thresh", :in2 => "2dot", :operator => "in", :result => "lev2"}
      %fecomposite{:in => "3r-thresh", :in2 => "3dot", :operator => "in", :result => "lev3"}
      %fecomposite{:in => "4r-thresh", :in2 => "4dot", :operator => "in", :result => "lev4"}
      %fecomposite{:in => "5r-thresh", :in2 => "5dot", :operator => "in", :result => "lev5"}
      %fecomposite{:in => "6r-thresh", :in2 => "6dot", :operator => "in", :result => "lev6"}
      %fecomposite{:in => "7r-thresh", :in2 => "7dot", :operator => "in", :result => "lev7"}
      %fecomposite{:in => "8r-thresh", :in2 => "8dot", :operator => "in", :result => "lev8"}
      / Merge half-tone fragments together
      %femerge
        %femergenode{:in => "lev8"}
        %femergenode{:in => "lev7"}
        %femergenode{:in => "lev6"}
        %femergenode{:in => "lev5"}
        %femergenode{:in => "lev4"}
        %femergenode{:in => "lev3"}
        %femergenode{:in => "lev2"}
      / Clip to the original
      %fecomposite{:in2 => "SourceGraphic", :operator => "in", :result => "clipped"}
      %feColorMatrix{:in => "clipped", :type => "matrix", :values => "0 0 0 0.39 0   0 0 0 0.71 0   0 0 0 0.75 0   0 0 0 1 0"}
