#team.ui.vertical.stripe.segment
  .ui.container
    %h1 das team

    .epigraph
      %blockquote.initial= get_text('Team')

    .ui.items
      - blog("team").articles.each do |member|
        .item.member
          .image
            = image_tag member.data.thumbnail
          .content
            = member.render(:layout => false)