%svg.therapiezentrum{:viewbox => "0 0 512 42.4", :x => "0px", :y => "0px"}
  %g
    %polygon#XMLID_29_{:points => "6.5,10 1,10 1,5 17.7,5 17.7,10 12.2,10 12.2,38.1 6.5,38.1 "}
    %polygon#XMLID_28_{:points => "23.3,38.1 23.3,5 29,5 29,18.5 35.1,18.5 35.1,5 40.8,5 40.8,38.1 35.1,38.1 35.1,23.5 29,23.5 29,38.1 "}
    %polygon#XMLID_27_{:points => "48.6,38.1 48.6,5 63.8,5 63.8,10 54.3,10 54.3,18.5 61.6,18.5 61.6,23.5 54.3,23.5 54.3,33.2 64.5,33.2 64.5,38.1 "}
    %path{:d => "M76.9,38.1h-5.7V5h8c6.4,0,9.6,2.7,9.6,9.8c0,5.3-2.1,7.5-4,8.3l4.8,15h-5.8l-4-13.7c-0.7,0.1-1.9,0.1-2.9,0.1L76.9,38.1L76.9,38.1z M76.9,19.9h2c3.1,0,4.2-1.1,4.2-5.1S82,9.7,79,9.7h-2V19.9z"}
    %path{:d => "M99.8,38.1h-5.5L100.4,5h7.1l6.1,33.1h-5.5l-1-7.3h-6.2L99.8,38.1z M101.6,25.9h4.6L104,11.6h-0.1L101.6,25.9z"}
    %path{:d => "M119.2,38.1V5h8.2c7,0,10.3,2.7,10.3,9.8c0,7.1-3.3,9.8-10.3,9.8h-2.5v13.6C124.9,38.1,119.2,38.1,119.2,38.1z M124.9,19.9h2.2c3.7,0,4.9-1.1,4.9-5.1s-1.1-5.1-4.9-5.1h-2.2C124.9,9.7,124.9,19.9,124.9,19.9z"}
    %rect#XMLID_20_{:height => "33.1", :width => "5.7", :x => "145.2", :y => "5"}
    %polygon#XMLID_19_{:points => "159.5,38.1 159.5,5 174.7,5 174.7,10 165.2,10 165.2,18.5 172.5,18.5 172.5,23.5 165.2,23.5 165.2,33.2 175.4,33.2 175.4,38.1 "}
    %polygon#XMLID_18_{:points => "197.8,5 197.8,7.5 185.5,35.1 197.8,35.1 197.8,38.1 181.4,38.1 181.4,35.6 193.4,8.1 182.5,8.1 182.5,5 "}
    %polygon#XMLID_17_{:points => "220.2,5 220.2,8.1 208.7,8.1 208.7,19.3 217.2,19.3 217.2,22.4 208.7,22.4 208.7,35.1 220.8,35.1 220.8,38.1 205.1,38.1 205.1,5 "}
    %polygon#XMLID_16_{:points => "232.9,5 241.4,29.4 241.5,29.4 241.5,5 245.1,5 245.1,38.1 241.3,38.1 231,9.3 230.9,9.3 230.9,38.1 227.3,38.1 227.3,5 "}
    %polygon#XMLID_15_{:points => "267.5,5 267.5,8.1 260.7,8.1 260.7,38.1 257.1,38.1 257.1,8.1 250.3,8.1 250.3,5 "}
    %path{:d => "M273.2,5h8c5.3,0,9.1,3.1,9.1,8.6c0,3.7-1.6,6.8-5.3,8.1l5.6,16.4h-3.8l-5.3-15.7l-4.7,0.2v15.5h-3.6L273.2,5C273.2,5,273.2,5,273.2,5z M276.7,19.5h3.1c5.1,0,6.8-2,6.8-5.7S285,8,279.9,8h-3.1V19.5z"}
    %path#XMLID_12_{:d => "M302,5v24.3c0,3.3,1,6.2,4.9,6.2c3.9,0,4.9-2.9,4.9-6.2V5h3.6v24.4c0,5.3-2.5,9.2-8.4,9.2c-6,0-8.4-3.8-8.4-9.2V5C298.4,5,302,5,302,5z"}
    %polygon#XMLID_11_{:points => "328.9,5 334.7,30.1 334.8,30.1 340.4,5 346.1,5 346.1,38.1 342.8,38.1 342.8,7.8 342.7,7.8 335.8,38.1 333.5,38.1 326.6,7.8 326.5,7.8 326.5,38.1 323.2,38.1 323.2,5 "}
    %polygon#XMLID_10_{:points => "353.4,38.1 353.4,5 359.1,5 359.1,33.2 368.1,33.2 368.1,38.1 "}
    %polygon#XMLID_9_{:points => "373.9,38.1 373.9,5 389.1,5 389.1,10 379.6,10 379.6,18.5 386.9,18.5 386.9,23.5 379.6,23.5 379.6,33.2 389.7,33.2 389.7,38.1 "}
    %path{:d => "M396.6,38.1V5h8.2c7,0,10.3,2.7,10.3,9.8c0,7.1-3.2,9.8-10.3,9.8h-2.5v13.6C402.2,38.1,396.6,38.1,396.6,38.1z M402.2,19.9h2.2c3.7,0,4.9-1.1,4.9-5.1s-1.1-5.1-4.9-5.1h-2.2V19.9z"}
    %path{:d => "M421.8,38.1V5h8.2c7,0,10.3,2.7,10.3,9.8c0,7.1-3.3,9.8-10.3,9.8h-2.5v13.6C427.5,38.1,421.8,38.1,421.8,38.1z M427.5,19.9h2.2c3.7,0,4.9-1.1,4.9-5.1s-1.1-5.1-4.9-5.1h-2.2V19.9z"}
    %polygon#XMLID_4_{:points => "447,38.1 447,5 462.3,5 462.3,10 452.7,10 452.7,18.5 460.1,18.5 460.1,23.5 452.7,23.5 452.7,33.2 462.9,33.2 462.9,38.1 "}
    %path{:d => "M475.4,38.1h-5.7V5h8c6.4,0,9.6,2.7,9.6,9.8c0,5.3-2.1,7.5-4,8.3l4.8,15h-5.8l-4-13.7c-0.7,0.1-1.9,0.1-2.9,0.1L475.4,38.1C475.4,38.1,475.4,38.1,475.4,38.1z M475.4,19.9h2c3.1,0,4.2-1.1,4.2-5.1s-1.1-5.1-4.2-5.1h-2V19.9z"}
    %path#XMLID_1_{:d => "M505.3,13.2c-0.2-2.8-1.8-3.7-3.1-3.7c-1.8,0-2.8,1.2-2.8,3.3c0,5.6,11.5,8.4,11.5,17.3c0,5.5-3.7,8.5-9,8.5c-5.3,0-8.3-4.2-8.5-9.2l5.4-0.8c0.2,3.4,1.5,5,3.4,5c2,0,3.3-1,3.3-3c0-6.6-11.6-8.3-11.6-17.8c0-5.3,3.2-8.3,8.8-8.3c4.6,0,7.4,3.4,7.9,8L505.3,13.2z"}