#what.ui.vertical.stripe.bloom.segment
  .ui.container.introduction
    -#.ui.section.fancy.rellax.header{"data-rellax-speed" => "-2", "data-rellax-percentage" => "0.5"}= data.en.what.head
    .ui.segment
      .header.rellax{"data-rellax-speed" => 1.5}= data.en.what.head

  #projects
    .ui.container
      .ui.segment
        .sub.header= data.en.what.projectsIntroduction

    .ui.container
      - data.en.what.projects.each_with_index do |p, i|
        = partial "partials/project", locals: {project: p, index: i}

