//    _               _
//   /_\__ _____ _ _ (_)_ _
//  / _ \ V / -_) ' \| | '_|
// /_/ \_\_/\___|_||_|_|_|
@font-face {
   font-family: 'Avenir';
      src: url('../fonts/avenir/AvenirNext-UltraLight.eot');
      src: url('../fonts/avenir/AvenirNext-UltraLight.woff') format('woff'),
           url('../fonts/avenir/AvenirNext-UltraLight.ttf') format('truetype'),
           url('../fonts/avenir/AvenirNext-UltraLight.svg') format('svg');
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: 'Avenir';
      src: url('../fonts/avenir/avenir-light.eot');
      src: url('../fonts/avenir/avenir-light.woff') format('woff'),
           url('../fonts/avenir/avenir-light.ttf') format('truetype'),
           url('../fonts/avenir/avenir-light.svg') format('svg');
   font-weight: 200;
   font-style: normal;
}

@font-face {
   font-family: 'Avenir';
      src: url('../fonts/avenir/avenir-lightoblique.eot');
      src: url('../fonts/avenir/avenir-lightoblique.woff') format('woff'),
           url('../fonts/avenir/avenir-lightoblique.ttf') format('truetype'),
           url('../fonts/avenir/avenir-lightoblique.svg') format('svg');
   font-weight: 200;
   font-style: italic;
}

@font-face {
   font-family: 'Avenir';
      src: url('../fonts/avenir/avenir-roman.eot');
      src: url('../fonts/avenir/avenir-roman.woff') format('woff'),
           url('../fonts/avenir/avenir-roman.ttf') format('truetype'),
           url('../fonts/avenir/avenir-roman.svg') format('svg');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Avenir';
      src: url('../fonts/avenir/avenir-medium.eot');
      src: url('../fonts/avenir/avenir-medium.woff') format('woff'),
           url('../fonts/avenir/avenir-medium.ttf') format('truetype'),
           url('../fonts/avenir/avenir-medium.svg') format('svg');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Avenir';
      src: url('../fonts/avenir/avenir-heavy.eot');
      src: url('../fonts/avenir/avenir-heavy.woff') format('woff'),
           url('../fonts/avenir/avenir-heavy.ttf') format('truetype'),
           url('../fonts/avenir/avenir-heavy.svg') format('svg');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Avenir';
      src: url('../fonts/avenir/avenir-black.eot');
      src: url('../fonts/avenir/avenir-black.woff') format('woff'),
           url('../fonts/avenir/avenir-black.ttf') format('truetype'),
           url('../fonts/avenir/avenir-black.svg') format('svg');
   font-weight: 800;
   font-style: normal;
}
