//     _           _ _
//  __(_)__ _ _ _ (_) |____ _
// (_-< / _` | ' \| | / / _` |
// /__/_\__, |_||_|_|_\_\__,_|
//      |___/
@font-face {
   font-family: 'Signika';
      src:  resolve('#{$font-path}/signika/signika-light-webfont.eot');
      src:  resolve('#{$font-path}/signika/signika-light-webfont.woff') format('woff'),
            resolve('#{$font-path}/signika/signika-light-webfont.ttf') format('truetype');
   font-weight: 200;
   font-style: normal;
}

@font-face {
   font-family: 'Signika';
      src:  resolve('#{$font-path}/signika/signika-regular-webfont.eot');
      src:  resolve('#{$font-path}/signika/signika-regular-webfont.woff') format('woff'),
            resolve('#{$font-path}/signika/signika-regular-webfont.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Signika';
      src: resolve('#{$font-path}/signika/signika-semibold-webfont.eot');
      src: resolve('#{$font-path}/signika/signika-semibold-webfont.woff') format('woff'),
           resolve('#{$font-path}/signika/signika-semibold-webfont.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Signika';
      src: resolve('#{$font-path}/signika/signika-bold-webfont.eot');
      src: resolve('#{$font-path}/signika/signika-bold-webfont.woff') format('woff'),
           resolve('#{$font-path}/signika/signika-bold-webfont.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}
