
//  _____    _
// |_   _| _(_)_ _ ___ _ _  __ _
//   | || '_| | '_/ _ \ ' \/ _` |
//   |_||_| |_|_| \___/_||_\__, |
//                         |___/
// 100
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/trirong/Trirong-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/trirong/Trirong-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

// 200
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/trirong/Trirong-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/trirong/Trirong-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

// 300
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/trirong/Trirong-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/trirong/Trirong-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

// 400
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/trirong/Trirong-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/Trirong/Trirong-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

// 500
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/trirong/Trirong-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/Trirong/Trirong-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

// 600
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/trirong/Trirong-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/trirong/Trirong-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

// 700
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/trirong/Trirong-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/Trirong/Trirong-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

// 800
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/trirong/Trirong-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/trirong/Trirong-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

// 900
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/trirong/Trirong-Black.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Trirong';
  src: url('../fonts/trirong/Trirong-BlackItalic.ttf');
  font-weight: 800;
  font-style: italic;
}
